{% extends 'base.html' %}

{% block content %}

    <style>
        .testing {
            background-color: #2f47ff;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="height: 20rem;  background-color: #62f2ff; border-radius: 1rem; margin: 2rem" >

    <div>asdasd</div>

    <div class="testing" style="display: block">block</div>
    <div class="testing" style="display: inline">inline</div>
    <div class="testing" style="display: flex"></div>
    <div class="testing" style="display: inline-block">inline-block</div>
    <div class="testing">default</div>

    </div>

{% endblock %}